<main class="mt-5">
<div class="container">
<h2 class="mb-5 font-weight-bold">Work Out Programs</h2>

<!--Grid row-->
<div class="row">

    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">

        <div class="view overlay z-depth-1-half">
            <img src="assets/images/aerobics.jpg" class="img-fluid" alt="">
            <div class="mask rgba-white-slight"></div>
        </div>

        <h4 class="my-4 font-weight-bold">Aerobics</h4>
        <p class="grey-text">Aerobic exercise stimulates the heart rate and breathing rate to increase in a way that can be sustained for the exercise session. In contrast, anaerobic ("without oxygen") exercise is activity that causes you to be quickly out of breath, like sprinting or lifting a heavy weight.</p>
            

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">

        <div class="view overlay z-depth-1-half">
            <img src="assets/images/9round.jpg" class="img-fluid" alt="">
            <div class="mask rgba-white-slight"></div>
        </div>

        <h4 class="my-4 font-weight-bold">9 Rounds</h4>
        <p class="grey-text">At typical gyms, your workout relies on a class time or your trainer’s schedule. We think it's about time that changed. We provide members with fun, trainer-guided, kickboxing-style workouts in a circuit format. That means our workouts begin whenever you show up. Because it’s all about YOU. Getting stronger. On your time.</p>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">

        <div class="view overlay z-depth-1-half">
            <img src="assets/images/ass.jpg" class="img-fluid" alt="">
            <div class="mask rgba-white-slight"></div>
        </div>

        <h4 class="my-4 font-weight-bold">Pilate</h4>
        <p class="grey-text">Practitioners say regular pilates can improve posture, muscle tone, balance and joint mobility, as well as relieve stress and tension.</p>

    </div>
    <!--Grid column-->

</div>
<!--Grid row-->

<!--Grid row-->
<div class="row">

    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">

        <div class="view overlay z-depth-1-half">
            <img src="assets/images/o1back.jpg" class="img-fluid" alt="">
            <div class="mask rgba-white-slight"></div>
        </div>

        <h4 class="my-4 font-weight-bold">Fat Burn</h4>
        <p class="grey-text">Running and walking are two of the best fat-burning exercises. Plus, the only equipment you need is a good pair of shoes.</p>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">

        <div class="view overlay z-depth-1-half">
            <img src="assets/images/booty.jpg" class="img-fluid" alt="">
            <div class="mask rgba-white-slight"></div>
        </div>

        <h4 class="my-4 font-weight-bold">Booty Lift</h4>
        <p class="grey-text">The revered functional movement is great for building strength, improving mobility and sculpting a curved physique, but it's not the only exercise that can do the trick. Single-leg lifts, lateral lunges and donkey kicks are just a few glute exercises that can help get your booty in gear without getting low.</p>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">

        <div class="view overlay z-depth-1-half">
            <img src="assets/images/abs.jpg" class="img-fluid" alt="">
            <div class="mask rgba-white-slight"></div>
        </div>

        <h4 class="my-4 font-weight-bold">ABS Challenge</h4>
        <p class="grey-text">It’s not only six-pack seekers who should be paying their abs plenty of attention when they visit the gym. Strong abs are an integral part of a rock-solid core, which should be one of the goals of any fitness regime.</p>

    </div>
    <!--Grid column-->

</div>
</div>
</main>
<!--Grid row-->

<!-- </section> -->